
.index-login-card {
    width: 100%; 
    height:auto;
    @include Small-size {
        width: 80%;
    }
    @include Medium-size{
        height: 20em;
    }
}
.index-login-card-img{
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/login-img.jpg);
    display: none;
    @include  Large-size{
        display: block;
    }
}
.index-bg {
    background-position: center center;
    background-size: cover;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
  }
.login-input-item {
    position: relative;
    input{
        padding-left: 3rem;
        height: 3em;
    }
}
.login-user-img,.login-password-img {
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 5%;
}
.login-user-img {
    background-image: url(../img/username-icon.svg);
}
.login-password-img {
    background-image: url(../img/password-icon.svg);
}
.login-btn{
    width: 100%;
    background-color: #474587 !important;
    height: 3em;
    &:hover,&:active,&:focus{
       background-color:  #555e65 !important; 
    }

}
.login-card-title{
font-size: 1.5rem;
color: $primary; // #474587;
font-weight: bold;
letter-spacing: 0.1em;
border-bottom: $primary 0.1em solid;

}